<div class = "recipe-box">
  <% Yummly.search(@season).map do |r| %>
  <div class= "single-recipe">
    <img width=130 src="<%= r.images[0].small_url %>"/> 
    <p class="recipe-name"><%=r.recipe_name %></p>
  </div>
    <% end %>
</div>
