<div class = "recipe-box">
  <% @recipes.each do |r| %>
  <div class= "single-recipe">
    <img class = "image-index" width=130 src="<%= r.image %>"/> 
    <p class = "recipe-name"><%= link_to r.name, recipe_path(r) %></p>
  </div>
    <% end %>
</div>

