<div class = "recipe-box">
  <% @recipes.each do |r| %>
  <div class= "single-recipe">
    <img class = "image-index" width=130 src="<%= r.image %>"/> 
    <a class="recipe-name" href="/recipes/<%=r.id%>"><%=r.name %></a>
  </div>
    <% end %>
</div>

