<h1><%= @recipe.name%></h1>
<img width=130 src="<%= @recipe.image %>"/> 

<h2>ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |i| %>
  <li class = "ingredients"><%= link_to i.name, ingredient_path(i) %></li>
  <% end %>
</ul>

<h2>recipes with a similar ingredients list</h2>