 <% @recipes = @user.recipes %>

<div class= "side pantry">
  <h2>
  <%= @user.name %>'s pantry items
</h1>
  <%= render '/recipes/single_recipe' %>
</div>

<div class= "side suggestions">
<h2>
  suggested items for <%= @user.name %>
</h2>
</div>
