 <% @recipes = current_user.recipes %>

<div class= "side left">
  <h2>
  <%= @user.name.downcase %>'s pantry items
</h1>
  <%= render '/recipes/single_recipe' %>
</div>

<div class= "side right">
<h2>
  <%= @user.name.downcase %>'s grocery list
</h2>
  <div class= "grocery_list">
    <ul>
    <% @user.grocery_list.each do |i|%>
      <li class="ingredients"><%= i %></li>
    <% end %>
    </ul>
  </div>
</div>