
<h3><%= @ingredient.name.downcase %></h3>
<h2>Other recipes with <%= @ingredient.name %> </h2>
<div class="recipe-box">

  <ul>
    <% if @ingredient.recipe_suggest %>
      <% @ingredient.recipe_suggest.each do |r| %>
        <%= render '/recipes/single_recipe' %>
      <% end %>
    <% else %>
      <%= render '/recipes/single_recipe' %>
    <% end %>
  </ul>
</div>