
<h1><%= @ingredient.name.downcase %></h1>
<h2>Other recipes with <%= @ingredient.name %> </h2>
<div class="recipe-box">
  <ul>
    <% @ingredient.recipes.each do |r| %>
    <%= render '/recipes/single_recipe' %>
  <% end %>
  </ul>
</div>