<!DOCTYPE html>
<html>
<head>
  <title>PlumPantry</title>
  <link rel="stylesheet" href="style.css"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>top bar with sign in stuff</h1>
<%= yield %>

</body>
</html>
